#athena-jumbotron .athena-button {
  margin: 0px;
}

.col-sm-6.parallax {
  font-size: 12px;
}

.cameraContent {
  color: #6b3b3b;
}

.site-title a {
  color: #fafafa;
  font-weight: bold;
  font-size: 45px;
}

ul.athena-nav > li.menu-item a:hover {
  font-size: 30px;
  text-transform: uppercase;
  color: #78c6cc;
}

#athena-jumbotron .overlay {
  color: #8a3434;
}

.homepage-page-content.col-sm-12 {
  color: #000000;
  font-size: 24px;
  white-space: normal;
  word-spacing: 1px;
  letter-spacing: 1px;
}